@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("../fonts/LucidaSansUnicode.woff2") format("woff2"),
         url("../fonts/LucidaSansUnicode.woff") format("woff"),
         url("../fonts/LucidaSansUnicode.eot") format("eot");
   }

*{
    box-sizing: border-box;
}


body{
    font-family: "Lucida Sans Unicode", sans-serif ;
}
a{
    text-decoration: none;
    outline: none;
    color: #000;
}

header{
   background-color: #f7f7f7;
}

.header_wrap{
    display: flex;
    padding: 15px 0px;
    max-width: 1284px;
    margin: 0 auto;
}

.header_logo{
    width:12.1%;
}

.header_logo img{
    width: 96px;
    height: auto;
}

.header__menu_item{
    display: flex;
    justify-content: space-between;
    width: 49.3%;
    margin-top: 25px;
}

.header__menu_item a {
    display: inline-block;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
}

.header__menu_item a:after {
    background-color: #449f9f;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    top: 20px;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.header__menu_item a:hover:after,
.header__menu_item a:focus:after {
    width: 100%;
}


.header_bg{
    background: url(../img/header_fon.png) no-repeat right top 0px;
    background-size: 77.7%;
    padding-bottom: 200px;
}

.perfection{
    max-width: 1152px;
    margin: 146px auto 0;
}

.perfection_content{
    display: flex;
}


.perfection_image{
    max-width: 729px;
    width: 100%;
}
.perfection_image img{
    width: 96%;
    object-fit: cover;
    max-width: 710px;
}

.description_way{
    color: #fff;
    width: 40%;
    margin: 22px 0px 0px 34px;
}

.description_way h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.description_way p{
    margin-left: 19px;
    letter-spacing: -0.4px;
    line-height: 23px;
    max-width: 343px;
}

.description_way a{
    display: inline-block;
    padding: 20px;
    color: #fff;
    border-radius: 30px;
    border: 2px solid #fff;
    margin: 49px 0px 0px 12px;
    outline: none;
}

.description_way a:hover{
    color: #449f9f;
    background-color: #fff;
    border-color: #449f9f;
    transition: 0.6s;
}

.perfection__next_section{
    text-align: center;
    padding-top: 276px;
}

.perfection__next_section svg{
    width: 52px;
    fill: #3d3d3d;
}

.services,
.portfolio{
    background-color: #f7f7f7;
}

.services_wrap,
.reviews_wrap,
.contacts_wrap,
.footer_wrap{
    max-width: 1284px;
    margin: 0 auto;
}

.services_wrap h2{
    transform: translateY(-25px);
}

.services_wrap h2,
.portfolio_wrap h2,
.contacts_wrap h2{
    color: #3d3d3d;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 65px;
}
.our_products_wrap h2,
.reviews_wrap h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 65px;
    color: #fff;
}


.service_frontend,
.service_backend{
    display: flex;
    justify-content: space-between;
}

.service_support{
    display: flex;
    max-width: 976px;
    margin: 109px auto 0px;
    
}

.service_support img{
    max-width: 422px;
}
.service_frontend img{
    max-width: 469px;
}
.service_frontend img,
.service_support img{
    width: 100%;
    object-fit: cover;
}

.services_items{
    max-width: 1122px;
    margin: 108px auto 0px;
}

.service_wrap_image{
    max-width: 586px;
    width: 47%;
}

.service__frontend_description,
.service__support_description{
    width: 46%;
    padding-top: 85px;
}

.service__frontend_description h3,
.service__support_description h3{
    font-size: 79px;
    letter-spacing: 1.4px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3d3d3d;
    padding-bottom: 10px;
}

.service__backend_description h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: #3d3d3d;
    font-size: 82px;
    padding-bottom: 8px;
}

.service__frontend_description p,
.service__support_description p{
    margin-left: 4px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.4px;
    max-width: 388px;
}

.service__backend_description p{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.4px;
    margin-left: auto;
    margin-right: 0;
    max-width: 385px;
}

.service_backend{
    padding-top: 156px;
}

.service__backend_description{
    text-align: right;
    max-width: 586px;
    width: 44.4%;
    padding-top: 69px;
}


.service_wrap_image_bc{
    max-width: 586px;
    width: 45%;
    padding-top: 24px;
}

.service_wrap_image_bc img{
    max-width: 500px;
    width: 100%;
    object-fit: cover;
}

.service_frontend{
    padding-left: 30px;
}


.service_wrap_image_sup{
    max-width: 546px;
    width: 100%;
}

.our_products_wrap{
    max-width: 1284px;
    margin: 0 auto;
}

.portfolio_wrap{
    max-width: 1284px;
    margin: 0 auto;
    padding: 258px 0px 65px;
}

.portfolio_items_slider .potfolio_item_wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.portfolio_items_slider .potfolio_item_wrap .porfolio_item{
    max-width: 546px;
    width: 43%;
    padding-bottom: 103px;
}
.potfolio_item_wrap .porfolio_item img{
    width: 100%;
    object-fit: cover;
    max-width: 363px;
}

.portfolio_items_slider{
    margin: 74px auto 0px;
    max-width: 834px;
}

.owl-dots{
    display: none;
}

.owl-carousel .owl-nav button.owl-next {
    right: 30px;
    position: absolute;
}

.owl-nav span {
    font-size: 50px;
    font-family: Arial, sans-serif;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    color: #000 !important;
}

button.owl-prev {
    left: 30px;
    position: absolute;
}

.owl-nav {
    position: absolute;
    top: 32%;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.owl-carousel .owl-nav button.owl-next{
    background-image: url("../img/next.png");
    background-size: cover;
    width: 50px;
    height: auto;
}

.owl-carousel .owl-nav button.owl-prev{
    background-image: url("../img/prev.svg");
    background-size: cover;
    width: 50px;
    height: auto;
}

.owl-theme .owl-nav [class*=owl-]{
    margin: 5px 0px !important;
}

.dowm_bg{
    padding-top: 380px;
    background: url(../img/bgpng.png) no-repeat center top 60px;
    background-size: cover;

}

.our_products_part{
    display: flex;
    justify-content: space-between;
    padding-top: 82px;
    padding-left: 22px;
}


.our_product_description h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 54px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 27px;
}

.our_product_description  p{
    font-size: 24px;
    color: #fff;
    line-height: 35px;
    max-width: 511px;
}

.our_product_description  a{
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 27px;
    background-color: #3d3d3d;
    margin-top: 22px;
    padding: 15px 53px;
    font-size: 18px;
    outline: none;
}

.our_product_description  a:hover{
    color: #3d3d3d;
    background-color: #fff;
    transition: 0.6s;
}

.our_products_part .product_image_wrap{
    max-width: 672px;
    width: 50%;
}

.our_products_part .product_image_wrap img{
    width: 100%;
    object-fit: cover;
    max-width: 658px;
}

.our_products_part .our_product_description{
    width: 47%;
    padding-top: 71px;
}

.reviews .reviews_wrap{
    text-align: center;
    margin-top: 245px;
}

.all_reviews_wrap{
    margin:107px auto 0px;
    max-width: 574px;
    display: flex;
    flex-direction: column;
}

.all_reviews_wrap .review_item{
    position: relative;
    margin-bottom: 88px;
}

.all_reviews_wrap .review_item .review_item_avatar_ns{
    right: -25px;
    left: unset;
    box-shadow: -3px 1px 12px 0px #c5c5c5;
}

.review_item .review_item_avatar{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    border: 8px solid #fff;
    top: -54px;
    left: -19px;
    border-radius: 23px;
    box-shadow: 3px 3px 12px 0px #c5c5c5;
}

.review_item .review_context{
    background-color: #F7F7F7;
    color: #000;
    padding: 25px 36px 24px 145px;
    border-radius: 46px;
    text-align: left;
}

.review_item .review_context .review_text h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 28px;
    margin-bottom: 10px;
}

.review_item .review_context .review_text p{
    font-size: 14px;
    line-height: 18px;
}

.review_item .review_context_ns{
    padding: 25px 155px 24px 59px;
}

.contacts .contacts_form{
    background: url(../img/contacts_bg.svg) no-repeat center top 60px;
    background-size: cover;
    padding: 319px 0px 209px;
    max-width: 1032px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.contacts .contacts_wrap{
    padding-top: 129px;
}

.contacts .contacts_form .contacts__social_icons{
    display: flex;
    justify-content: space-between;
    margin: 44px auto 95px;
    max-width: 194px;
}

.contacts .contacts_form .contacts__social_icons svg{
    width: 40px;
    height: auto;
}

.contact_form_section{
    display: flex;
    flex-direction: column;
    max-width: 493px;
    margin: 0 auto;
    position: relative;
}

.form_contact_field,
.form_contact_field_sec{
    display: flex;
    justify-content: space-between;
}

.form_contact_field input{
    width: 47%;
}

.form_contact_field_sec input:nth-child(2n){
    width:54% ;
}

.form_contact_field_sec input:nth-child(2n+1){
    width:41% ;
}

.form_contact_field input,
.form_contact_field_sec input{
    margin-bottom: 30px;
    padding: 12px 20px 12px 22px;
    border: 4px solid #666;
    border-radius: 10px;
    font-size: 18px;
}

.contact_form_section textarea{
    width: 100%;
    padding: 15px 14px 12px 30px;
    border: 4px solid #666;
    height: 218px;
    border-radius: 10px;
    font-size: 19px;
    resize: none;
}

.contact_form_section button{
    border: none;
    background-color: transparent;
    background: url(../img/send.svg) no-repeat;
    background-size: contain;
    padding: 24px 53px;
    color: #fff;
    font-size: 21px;
    max-width: 246px;
    margin-left: auto;
    margin-top: 38px;
    margin-left: auto;
    cursor: pointer;
    z-index: 9999;
}

.contacts_form .up_side_contact{
    position: absolute;
    top: -103px;
    left: -119px;
    width: 19%;
}

.right_up_side_contact{
    position: absolute;
    top: 44px;
    right: -95px;
    width: 19%;
}

.contacts_form .up_side_cont_small{
    position: absolute;
    top: -77px;
    left: -252px;
    width: 5%;
}

.contacts_form .up_side_cont_right_sm{
    position: absolute;
    top: -113px;
    right: -259px;
    width: 10%;
}

.contacts_form  .down_side_cont_right{
    position: absolute;
    top: 26px;
    right: -376px;
    width: 43%;
}

.contacts_form .up_side_cont_middle{
    position: absolute;
    top: -5px;
    left: -295px;
    width: 14%;
}

.contacts_form .down_side_cont_left{
    position: absolute;
    top: 180px;
    left: -349px;
    width: 29.6%;
}

footer{
    max-height: 73px;
}
.footer_bg{
    background-color: #3d3d3d;
    background: url(../img/footer.png) no-repeat center;
    background-size: cover;
    padding: 166px 0px;
    z-index: 93;
    top: 0px;
    right: 0px;
    transform: translateY(-317px);
}

footer .footer_part{
    display: flex;
    justify-content: space-between;
    z-index: 99999;
    position: relative;
}

footer .footer_part .footer_logo{
    max-width: 95px;
    width: 14%;
}

.footer_menu ul{
    display: flex;
    justify-content: space-between;
}

.footer_menu ul li{
    color: #fff;
    font-size: 18px;
    position: relative;
}

.footer_part .footer_social_icons{
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.footer_part .footer_social_icons svg{
    width: 40px;
    height: auto;
    cursor: pointer;
}

.footer_part .footer_logo img{
    max-width: 95px;
    object-fit: cover;
    width: 100%;
}

.footer_part .footer_menu{
    width: 48%;
}

.contacts .contacts_form .contacts__social_icons a:last-child{
    transform: translateY(7px);
}

.footer_menu ul li:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    top: 20px;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.footer_menu ul li:hover:after, .footer_menu ul li:focus:after {
    width: 100%;
}

.perfection__next_section a{
    outline: none;
}

.footer_menu ul a,
.footer_part .footer_logo a,
.footer_part .footer_social_icons a{
    outline: none;
}

.footer_mob_addition{
    display: none;
}
.contact_form_section .form_contact_field input, .contact_form_section .form_contact_field_sec input,
.contact_form_section textarea{
    font-family: "Lucida Sans Unicode", sans-serif ;
}

.perfection__next_section svg:hover{
   fill: #3f98a2;
   transition: 0.3s;
}

.contacts__social_icons svg{
      width: 40px;
      fill: #666666;
      outline: none;
  }

.contacts .contacts_form .contacts__social_icons svg:hover{
    fill: #3c94a3;
    transition: 0.2s;
}

.footer_part .footer_social_icons svg {
    fill: #fff;
} 

.footer_part .footer_social_icons svg:hover {
    fill: #3d3d3d;
    transition: 0.4s;
} 

/* ---------------------MOBILE MENU ---------------- */
.mobile_humburger {
    display: none;
    align-items: center;
}
@media screen and (max-width: 820px) {
    nav nav {
        display: inline;
   }
}

@media screen and (max-width: 820px) {
    .menu__box {
        flex-direction: column;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        margin: -600px 0 0 0;
        padding: 20px;
        background: url(../img/mob_menu.png) no-repeat;
        background-size: cover;
        z-index: 99999;
        transition-duration: 0.5s;
        display: flex;
        flex-direction: row;
        text-align: center;
        -webkit-filter:  drop-shadow(0px 0px 10px rgba(0,0,0,.5));
        filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
   }
   .menu__box .item_wr{
       width: 65%;
   }
   .menu__box li a{
       padding: 15px 0px;
       max-width: 100px;
       margin: 0 auto;
   }
}
@media screen and (max-width: 820px) {
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #fff;
        font-size: 16px;
        transition-duration: 0.5s;
   }
   .item_wr a{
        position: relative;
   }
   .item_wr a:hover:after,
    .item_wr a:focus:after {
        width: 100%;
    }

   .item_wr a:after{
    background-color: #FFF;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    bottom: 0px;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
   }
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked ~ .menu__btn{
    position: fixed;
    top: 25px;
    right: 25px;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background: #fff;
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background: #fff;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    margin: 0;
}
.menu__btn {
    transition-duration: 0.25s;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 999999;
}


.menu__btn span {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #45a19e;
}
.menu__btn span::before {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #45a19e;
    content: '';
    top: -8px;
    transition-duration: 0.25s;
}
.menu__btn span::after {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #45a19e;
    content: '';
    top: 8px;
    transition-duration: 0.25s;
}
@media screen and (min-width: 820px) {
    .menu__btn {
        display: none;
   }
}

.mobile_humburger.fixed{
    position: fixed;
}

@media(max-width: 1440px){
    .services_wrap, .reviews_wrap, .contacts_wrap, .footer_wrap,
    .our_products_wrap, .header_wrap, .portfolio_wrap {
        max-width: 980px;
    }
    .service_wrap_image{
        width: 32%;
    }
    .services_wrap h2, .portfolio_wrap h2, .contacts_wrap h2, .our_products_wrap h2, .reviews_wrap h2 {
        font-size: 45px;
    }
    .service_wrap_image_bc{
        width: 35%;
    }
    .service_support img {
        max-width: 270px;
    }    
    .footer_part .footer_social_icons{
        width: 14%;
    }
    .service__frontend_description h3, .service__support_description h3,
    .service__backend_description h3 {
        font-size: 56px;
    }
    .service_frontend, .service_backend{
        justify-content: space-around;
    }
    .service_wrap_image_sup {
        max-width: 400px;
    }
    .service_support {
        max-width: 730px;
    }
    .header_logo {
        width: 16.1%;
    }
    .owl-carousel.owl-drag .owl-item{
        width: 980px;
    }
    .portfolio_items_slider .potfolio_item_wrap .porfolio_item{
        width: 49%;
    }
    .contacts_form .down_side_cont_right {
        right: -141px;
        width: 23%;
    }
    .contacts .contacts_form{
        width: 65%;
    }
    .contacts_form .up_side_cont_right_sm {
        top: -125px;
        right: -106px;
        width: 10%;
    }
    .footer_bg{
        padding: 145px 0px;
        transform: translateY(-276px);
    }
    .header_bg {
        background: url(../img/header_fon.png) no-repeat left 278px top -8px;
        background-size: 100%;
    }
    .description_way{
        margin-top: 0px;
    }
    .perfection_image {
        max-width: 678px;
        width: 50%;
    }
    .description_way p {
        margin-left: 0px;
    }
    .perfection_image img {
        width: 100%;
        max-width: 652px;
    }
    .contacts_form .down_side_cont_left {
        top: 58px;
        left: -119px;
        width: 17.6%;
        transform: rotate(9deg);
    }
    .contacts_form .up_side_contact {
        top: -56px;
        left: -50px;
        width: 12%;
    }
    .right_up_side_contact{
        right: -61px;
        width: 16%;
    }
    .contacts_form .up_side_cont_middle {
        top: -289px;
        left: -107px;
        width: 14%;
    }
    .contacts_form .up_side_cont_small {
        top: -103px;
        left: -84px;
        width: 5%;
    }
    .perfection_content {
        max-width: 998px;
        margin: 0 auto;
    }
    .service__frontend_description h3, .service__support_description h3, .service__backend_description h3 {
        font-size: 42px;
    }
    .service_backend {
        padding-top: 25px;
    }
    .service_support {
        margin-top: 40px;
    }
    .portfolio_items_slider .potfolio_item_wrap .porfolio_item {
        padding-bottom: 50px;
        width: 30%;
    }
    .portfolio_items_slider .potfolio_item_wrap{
        justify-content: space-around;
    }
    .our_product_description h3 {
        font-size: 38px;
    }
    .our_products_part .product_image_wrap {
        width: 45%;
    }
    .our_product_description p{
        font-size: 18px;
    }
    .review_item .review_item_avatar{
        width: 120px;
        height: 120px;
    }
}

@media(max-width: 1110px){
    .contacts .contacts_form{
        width: 80%;
    }
    .services_wrap, .reviews_wrap, .contacts_wrap, .our_products_wrap, .portfolio_wrap, .perfection {
        max-width: 780px;
    }
    .header__menu_item{
        width: 61%;
    }
    .header_wrap,
    .footer_wrap{
        max-width: 730px;
    }
    .contacts_form .down_side_cont_right {
        right: -113px;
        width: 19%;
    }
    .contacts_form .up_side_cont_right_sm {
        right: -91px;
    }
    .right_up_side_contact {
        right: -64px;
        width: 17%;
    }
    .contacts_form .up_side_contact {
        left: -55px;
        width: 12%;
    }
    .contacts_form .up_side_cont_middle {
        left: -108px;
    }
    .contacts_form .down_side_cont_left {
        left: -120px;
        width: 17.6%;
    }
    .contacts_form .up_side_cont_small {
        left: -76px;
        width: 6%;
    }
    .header_bg {
        background: url(../img/header_fon.png) no-repeat left 4% top 0px;
        background-size: cover;
    }
    .portfolio_items_slider {
        max-width: 623px;
    }
    .service_wrap_image,
    .service_wrap_image_bc{
        width: 40%;
    }
    .service_support img {
        max-width: 263px;
    }
    .service_wrap_image_sup{
        width: 46%;
    }    
    .portfolio_wrap{
        padding: 130px 0px 0px;
    }
    .reviews .reviews_wrap{
        margin-top: 145px;
    }
    .contacts .contacts_wrap {
        padding-top: 40px;
    }
    .our_products_part{
        padding-left: 0px;
    }
    /* .our_products_part .product_image_wrap {
        width: 45%;
    } */
    .our_product_description p {
        font-size: 18px;
    }
    .perfection__next_section{
        padding-top: 160px;
    }
    .footer_part .footer_menu {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_part .footer_social_icons {
        width: 22%;
    }

    footer .footer_part .footer_logo,
    .footer_part .footer_logo img {
        max-width: 121px;
    }
    footer .footer_part{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_mob_addition{
        display: block;
        background-color: #4fae97;
        padding-bottom: 100px;
    }
    .footer_bg {
        background: url(../img/footer_mob_bg.png) no-repeat center;
        background-size: cover;
        padding: 226px 0px;
        transform: translateY(-346px);
    }
    footer .footer_part .footer_logo{
        margin-bottom: 30px;
    }
}

@media(max-width: 820px){
    .services_wrap, .reviews_wrap, .contacts_wrap, .our_products_wrap, .portfolio_wrap, .perfection,
    .header_wrap, .footer_wrap {
        max-width: 540px;
    }
    .perfection_content{
        flex-direction: column;
    }
    .perfection_content .perfection_image,
    .perfection_content .description_way,
    .perfection_content .description_way p{
        width: 100%;
    }
    .perfection_content .description_way p{
        max-width: unset;
    }
    .perfection{
            margin: 70px auto 0;
    }
    .header_bg {
        background: url(../img/header_fon.png) no-repeat left 24% top 73px;
        background-size: cover;
    }
    .service_frontend, .service_backend,
    .service_support{
        flex-direction: column;
        padding-bottom: 40px;
    }
    .service_wrap_image, .service_wrap_image_bc {
        width: 50%;
    }
    .service_wrap_image_sup{
        width: 40%;
    }
    .services_items .service_description:nth-child(2n+1){
        text-align: left;
    }
    .services_items .service_description:nth-child(2n){
        text-align: right;
    }
    .services_items .service_wrap_img:nth-child(2n+1){
        margin-right: auto;
    }
    .services_items .service_wrap_img:nth-child(2n){
        margin-left: auto;
    }
    .service__frontend_description,
    .service__backend_description,
    .service__support_description
    {
        width: 100%;
        padding-top: 0px;
    }
    .service__frontend_description p,
    .service__backend_description p,
    .service__support_description  p{
        max-width: unset;
    }
    .service__frontend_description h3, .service__support_description h3, .service__backend_description h3 {
        font-size: 36px;
    }

    .service_backend{
        flex-direction: column-reverse;
    }
    .service_frontend{
        padding-left: 0px;
    }
    .services_items {
        max-width: 500px;
        margin-top: 50px;
    }
    .portfolio_items_slider .potfolio_item_wrap .porfolio_item{
        width: 30%;
    }
    .portfolio_items_slider .potfolio_item_wrap{
        justify-content: center;
    }
    .portfolio_wrap .owl-carousel .owl-nav button.owl-next,
    .portfolio_wrap .owl-carousel .owl-nav button.owl-prev {
        width: 26px;
        height: 79px;
    }
    .perfection_image img{
        width: 80%;
    }
    .our_products_part{
        flex-direction: column-reverse;
        padding-top: 40px;
    }
    .our_products_part .our_product_description {
        width: 100%;
        padding-top: 20px;
    }
    .our_products_part .product_image_wrap{
        margin-left: auto;
        margin-top: -40px;
    }
    .review_item .review_item_avatar{
        width: 100px;
        height: 100px;
    }
    .review_item .review_context{
        padding-left: 110px;
    }
    .form_contact_field, .form_contact_field_sec{
        flex-direction: column;
    }
    .contact_form_section .form_contact_field input, 
    .contact_form_section .form_contact_field_sec input{
        width: 100%;
        font-size: 16px;
    }
    .contact_form_section {
        padding: 0px 30px;
    }
    .services_wrap h2, .portfolio_wrap h2, .contacts_wrap h2, .our_products_wrap h2, .reviews_wrap h2 {
        font-size: 36px;
    }
    .contacts .contacts_form .contacts__social_icons{
        max-width: 150px;
        margin-bottom: 40px;
    }
    .contacts .contacts_form .contacts__social_icons svg {
        width: 30px;
    }    
    .contacts .contacts_form .contacts__social_icons img {
        width: 30px;
    }
    .contacts .contacts_form {
        width: 90%;
        padding-top: 240px;
    }
    .right_up_side_contact{
        right: -7px;
        width: 15%;
        transform: rotate(92deg);
        top: 68px;
    }
    .contacts_form .up_side_contact {
        left: -40px;
        width: 12%;
        top: 34px;
    }
    .contacts_form .up_side_cont_middle{
        left: -23px;
        top: -148px;
        width: 9%;
    }
    .contacts_form .up_side_cont_small {
        left: -10px;
        width: 4%;
        top: -27px;
    }
    .contacts_form .up_side_cont_right_sm {
        right: -20px;
        width: 9%;
    }
    .contact_form_section textarea {
        padding: 15px 14px 12px 20px;
        font-size: 16px;
    }
    .contacts_form .down_side_cont_right {
        right: -34px;
        width: 12%;
        top: 108px;
    }
    .contacts_form .down_side_cont_left {
        left: -34px;
        width: 11.6%;
        top: 190px;
    }
    .our_product_description h3 {
        font-size: 28px;
    }
    .description_way h1{
        font-size: 36px;
    }
    .description_way{
        margin: 20px 0px 0px;
    }
    .all_reviews_wrap .review_item:nth-child(2n) .review_context{
        padding-left: 50px;
        padding-right: 100px;
    }
    .all_reviews_wrap{
        max-width: 480px;
    }
    .dowm_bg {
        background: url(../img/bgpng.png) no-repeat top 60px left -35px;
        background-size: cover;
    }
    .footer_part .footer_social_icons {
        width: 28%;
    }
    .header_bg .mobile_humburger {
        display: block;
    }
    .header__menu_item{
        display: none;
    }
    .header_wrap{
        justify-content: space-between;
    }
}

@media(max-width: 580px){
    .services_wrap, .reviews_wrap, .our_products_wrap,
    .portfolio_wrap, .perfection, .header_wrap, .footer_wrap{
       width: 100%;
       padding-left: 30px;
       padding-right: 30px;
    }
    .contacts_wrap{
        padding: 0px;
        max-width: 580px;
    }
    .description_way a {
        padding: 15px 20px;
        margin: 23px 0px 0px 12px;
    }
    .perfection__next_section svg {
        width: 35px;
    }
    .services{
        padding-top: 60px;
    }
    .services_wrap h2{
        padding-bottom: 25px;
        transform: unset;
    }
    .header_bg {
        background: url(../img/header_fon.png) no-repeat left 38% top 103px;
        background-size: cover;
        padding-bottom: 0px;
    }
    .services_items{
        margin-top: 30px;
    }
    .service__frontend_description h3, .service__support_description h3, .service__backend_description h3 {
        font-size: 30px;
        letter-spacing: 0px;
    }
    .service_frontend, .service_backend, .service_support{
        padding-bottom: 0px;
    }
    .service_wrap_image_bc {
        width: 60%;
    }
    .description_way h1{
        padding-bottom: 22px;
    }
    .perfection{
        padding-bottom: 35px;
    }
    .portfolio{
        padding-top: 70px;
    }
    .portfolio_wrap .owl-carousel .owl-nav button.owl-next, 
    .portfolio_wrap .owl-carousel .owl-nav button.owl-prev {
        width: 13px;
        height: 40px;
    }
    .portfolio_items_slider{
        margin-top: 45px;
    }
    .service__frontend_description p, .service__support_description p,
    .service__backend_description p, .our_product_description p {
        font-size: 16px;
        letter-spacing: -0.8px;
    }
    .portfolio_wrap{
        padding-top: 30px;
    }
    .dowm_bg{
        padding-top: 0px;
    }
    .portfolio_items_slider .potfolio_item_wrap .porfolio_item {
        padding-bottom: 20px;
    }
    .reviews .reviews_wrap{
        margin-top: 100px;
    }
    .contacts .contacts_form{
        width: 100%;
    }
    .our_products{
        padding-top: 275px;
    }
    .our_products_part{
        padding-top: 10px;
    }
    .footer_menu ul {
        flex-direction: column;
        align-items: center;
    } 
    .footer_menu ul li {
        padding-bottom: 16px;
    }   
    .footer_bg{
        transform: translateY(-452px);
    }
    .footer_part .footer_menu {
        margin-bottom: 15px;
    }
    footer .footer_part .footer_logo{
        width: 75px;
    }
    .footer_part .footer_social_icons {
        width: 144px;
        justify-content: space-around;
        transform: translateY(-10px);
    }
    .reviews_wrap .all_reviews_wrap .review_item .review_context{
        padding: 20px 30px 45px;
    }
    .portfolio_items_slider .potfolio_item_wrap .porfolio_item{
        width: 35%;
    }
    .all_reviews_wrap  .review_item .review_text{
        margin-top: 40px;
    }

    .contacts_form .down_side_cont_left,
    .contacts_form .down_side_cont_right{
        display: none;
    } 
    .footer_part .footer_social_icons svg {
        width: 30px;
        fill: #fff;
    }  
    .contacts_form .up_side_cont_middle,
    .contacts_form .up_side_cont_small,
    .contacts_form .up_side_cont_right_sm,
    .right_up_side_contact, .contacts_form .up_side_contact{
        display: none;
    }  
}


@media(max-width: 380px){
    .all_reviews_wrap .review_item .review_item_avatar_ns {
        right: -8px;
    }
    .all_reviews_wrap .review_item:nth-child(2n+1) .review_context .review_item_avatar{
        left: -8px;
    }
    .header_logo img {
        width: 70px;
    }
    .header_bg {
        background: url(../img/header_fon.png) no-repeat left 51% top 75px;
        background-size: cover;
    }
    .perfection_image img {
        width: 95%;
    }
    .service_wrap_image_sup {
        width: 50%;
    }
    .service_wrap_image_bc {
        width: 70%;
    }
    .service_wrap_image{
        width: 60%;
    } 
    .portfolio_items_slider .potfolio_item_wrap .porfolio_item {
        width: 40%;
    }   
    .portfolio_wrap .owl-carousel .owl-nav button.owl-prev{
        left: 0px;
    }
    .portfolio_wrap .owl-carousel .owl-nav button.owl-next{
        right: 0px;
    }
    .our_products_part .product_image_wrap {
        margin-left: auto;
        margin-top: 25px;
        width: 70%;
    }
    .review_item .review_item_avatar {
        width: 75px;
        height: 75px;
        border: 4px solid #fff;
    }
    .all_reviews_wrap .review_item:nth-child(2n+1) .review_context .review_item_avatar,
    .all_reviews_wrap .review_item:nth-child(2n) .review_context .review_item_avatar {
        top: -32px;
    }
    .reviews_wrap .all_reviews_wrap .review_item .review_context {
        padding: 20px 10px 45px 20px;
    }
    .review_item .review_context .review_text h3{
        font-size: 24px;
    }
    .contacts_wrap{
        padding: 0px;
        margin-top: -120px;
    }
    .contact_form_section button{
        padding: 15px 35px;
        font-size: 18px;
    }
    .footer_bg {
        background: url(../img/footer_mob_bg.png) no-repeat top 1px left -127px;
        background-size: cover;
    }
    .form_contact_field input, .form_contact_field_sec input,
    .contact_form_section textarea {
        margin-bottom: 20px;
        border: 2px solid #666;
        padding: 8px 18px 8px 22px;
    }
    .services_wrap h2, .portfolio_wrap h2, .contacts_wrap h2, .our_products_wrap h2, .reviews_wrap h2 {
        font-size: 28px;
    }
    .contacts .contacts_form .contacts__social_icons {
        max-width: 120px;
    }
    .services_wrap, .reviews_wrap, .our_products_wrap, .portfolio_wrap, .perfection, .header_wrap, .footer_wrap{
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact_form_section{
        padding: 0 20px;
    }
    .service__frontend_description h3, .service__support_description h3, .service__backend_description h3{
        font-size: 26px;
    }
    .our_product_description h3 {
        font-size: 24px;
    }
    .our_product_description a{
        padding: 12px 53px;
    }
    .our_products {
        padding-top: 235px;
        margin-top: -50px;
    }
    .perfection__next_section img {
        width: 30px;
    }
}